[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
boto3 = "*"
pandas = "*"
requests = "*"
tabulate = "*"
pytest-freezegun = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
moto = "*"
boto3 = "*"
pandas = "*"

[requires]
python_version = "3.7"
